.form-input-wrapper {
  // margin: 12px 0;
  padding: 12px 0;
  // padding: 15px 0 0px;
  // padding: 12px 0 0px;
  width: 100%;
  .MuiFormControl-root {
    margin-top: -10px;
    .MuiInput-input {
      padding: 5px 7px;
      border: inherit;
    }
    label.Mui-focused {
      color: var(--primary);
    }
    label {
      left: 7px;
      top: 5px;
    }
    .MuiInput-root {
      // padding: 0 4px;
      &::before {
        border-color: rgba(0, 0, 0, 0.23);
      }
      &.Mui-error:after {
        // border-color: #d32f2f !important;
      }
      &::after {
        border-color: var(--primary);
      }
      &:hover::before {
        border-bottom: 1px solid var(--primary);
      }
      // &:hover::after {
      //   border-bottom: 2px solid var(--primary);
      // }
    }
    &.Mui-error::after {
      color: #d32f2f !important;
    }
  }
  .MuiInputBase-root-MuiInput-root.Mui-error:after {
    border-color: #d32f2f !important;
  }
  input,
  select,
  textarea,
  .MuiSelect-select,
  .MuiSelect,
  .MuiSlider-markLabel {
    font-size: 11px;

    font-family: var(--manrope) !important;
  }
  .MuiInputLabel-root {
    font-size: 0.8rem;
    opacity: 0.65;
  }
  .MuiFormHelperText-root {
    font-size: 0.67rem;
  }
  .helper-text {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin: 4px 14px 0px;
  }
}
.text-box-wrapper {
  display: flex;
}
.MuiRadio-root {
  z-index: 1111111;
  padding: 5px !important;
}
