$darkCardShadow: -4px 5px 7px 3px #0000004d;

.business-card-container {
  position: relative;
  max-width: 400px;
  // width: 400px;
  width: 100%;
  // min-width: 400px;
  perspective: 1000px;
  height: 100%;

  text-align: left;
  .business-card-item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 24px;
    z-index: 1;
    font-family: var(--manrope);
    display: block;
    border: none;
    transition: 240ms;
    transform-style: preserve-3d;

    .glass-wrapper,
    .background-color {
      border: none !important;
      border-radius: inherit;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      border-radius: inherit;
      height: 100%;
      opacity: 0.7;
      background-clip: padding-box;
      backdrop-filter: blur(10px);
      &::after {
        content: "";
        // background-color: red;
      }
    }
    .background-color {
      box-shadow: $darkCardShadow;
      background: #ffefba; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #ffffff,
        #ffefba
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #ffffff,
        #ffefba
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    &.flipped {
      transform: rotateY(180deg);
    }
    .card-item-face {
      padding: 16px 25px;
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      backface-visibility: hidden;
      .social-media-icons-container {
        position: absolute;
        display: flex;
        // flex-direction: column;
        top: -35px;
        left: 50%;
        transition: 140ms;
        transform: translateX(-50%);
        .icon-wrapper {
          cursor: pointer;
          transition: 140ms;
          padding: 0 15px;
          z-index: 1;
          display: none;
          animation: enterEase 200ms;
          &.active {
            display: block;
            svg {
              height: 36px;
              width: 36px;
            }
          }
          svg {
            width: 0px;
            height: 0px;
            // padding: 10px;
            transition: 140ms;
            color: inherit;
            fill: inherit;
          }
          &:hover {
            svg {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    .card-item-face__back {
      backface-visibility: hidden;
      transform: rotateY(180deg);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 111111111111;
    }

    .detail-item {
      letter-spacing: 1px;
      display: flex;
      align-items: center;
      color: inherit;
      animation: enterEase 200ms;

      &#name {
        font-size: 1.8em;
        margin: 20px 0;
        font-weight: 700;
        line-height: 1.5em;
      }
      &#title {
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.4em;
        min-height: 25px;
      }

      &#phone-number,
      &#email {
        margin: 20px 0;
      }
      .detail-item__icon {
        margin-right: 8px;
        svg {
          display: block;
          height: 18px;
        }
      }
      .detail-item__detail {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5em;
        min-height: 28px;
      }
    }
    .empty {
      background-color: #cacaca;
      margin: 20px 0;
      opacity: 0.7;
      min-height: 35px;
      line-height: 1.5em;
      .detail-item__icon {
        display: none;
      }
      &#name {
        width: 75%;
      }
      &#title {
        width: 90%;
      }
    }
    .card__header {
      position: relative;
      // max-width: calc(100% - 130px);
      display: grid;
      grid-template-columns: 1fr;
      &.active {
        gap: 10px;
        grid-template-columns: 4fr 1.5fr;
      }
      .card__header--details {
      }
    }

    .card__details {
      .empty {
        display: block;
        &#phone-number {
          width: 58%;
        }

        &#email {
          width: 78%;
        }
        &#address {
          width: 64%;
        }
      }
    }

    .personal-card-image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}

//Front Image
.card-image {
  overflow: hidden;

  // position: absolute;
  width: 100%;

  &#personal {
    border-radius: 130px;
    border: 1px solid #c7c5c529;
  }
  &#work {
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}
@keyframes enterEase {
  from {
    transform: translateY(-30py);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

//Flip Card Button
.card-flip {
  position: absolute;
  bottom: -20px;
  z-index: 1111111;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: var(--manrope);
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.159);
  cursor: pointer;
  .icon-wrapper {
    margin-right: 10px;
    height: 18px !important;
  }
}

//Themes
.business-card-item {
  // backdrop-filter: blur(20px);
  &.light {
    color: #101010;
    fill: #101010;
    .background-color {
      text-shadow: 1px 1px 5px #ededed47;
      background: #ffefba; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #ffffff,
        #ffefba
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #ffffff,
        #ffefba
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);

      &.flipped {
        .card-item-face__front {
          display: none;
        }
        .card-item-face__back {
          display: flex;
          background-clip: padding-box;
          // backdrop-filter: blur(20px);
          // backdrop-filter: blur(20px);
        }
      }
    }
  }
  &.dark {
    color: #fff;
    fill: #fff;
    .background-color {
      border: none;
      opacity: 0.8;
      text-shadow: 1px 1px 3px #00000047;
      background: #1a0d6d;
      background: -webkit-linear-gradient(top left, #1a0d6dd8, #300437dc);
      background: -moz-linear-gradient(top left, #1a0d6d, #300437);
      background: linear-gradient(to bottom right, #1a0d6d, #300437);
    }
  }
  &.dark-alt {
    color: #fff;
    fill: #fff;
    .background-color {
      // border: solid 2px transparent;
      border: none;
      opacity: 0.8;
      text-shadow: 1px 1px 3px #00000047;
      background: #454547;
      border: none;
      border-right: 6px solid #e87500;
      border-bottom: 6px solid #e87500;
      border-radius: 4px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 16px;
      // box-shadow: 5px 5px 0px 5px #834a1f;
    }
  }
  &.bright {
    color: #fff;
    fill: #fff;
    .background-color {
      // border: solid 2px transparent;
      text-shadow: 1px 1px 3px #00000021;
      background: #e36486e7;
      background: -webkit-linear-gradient(top left, #e36486e7, #bf12c2ec);
      background: -moz-linear-gradient(top left, #e36486e7, #bf12c2ec);
      background: linear-gradient(to bottom right, #e36486e7, #bf12c2ec);
      // box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.03);
      // box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    }
  }
  &.clean {
    color: #fff;
    fill: #fff;
    .background-color {
      border: solid 2px transparent;
      // text-shadow: 1px 1px 3px #00000047;
      background: #ffffff;
      background: #89f7fe;
      background: -webkit-linear-gradient(top left, #89f7fe, #66a6ff);
      background: -moz-linear-gradient(top left, #89f7fe, #66a6ff);
      background: linear-gradient(to bottom right, #89f7fe, #66a6ff);
      border-radius: 2px;
      box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.03);
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
      .detail-item__icon {
        margin-right: 8px;
        background: black;
        padding: 10px;
        border-radius: 50px;
        margin-right: 20px !important;
        svg {
          stroke: #fff;
        }
      }
    }
  }
  &.modern {
    color: #2e2f30;
    fill: #2e2f30;
    position: relative;
    overflow: hidden;
    z-index: 1111111111111;
    .card__header {
      color: #fff;
    }
    .background-color {
      background: rgba(255, 255, 255, 0.912);
      border: solid 2px transparent;
    }
    &:after {
      content: "";
      position: absolute;
      background-color: #2a4392;
      width: 150%;
      height: 52%;
      z-index: -1;
      display: block;
      top: -10%;
      color: #fff;
      left: -10%;
      transform: rotate(7deg);
    }
  }
}

@media only screen and (max-width: 600px) {
  .business-card-container {
    min-width: 250px;
    // transform: scale(0.8);
    div#title {
      font-size: 24px !important;
    }
    div#title {
      font-size: 18px !important;
    }
    .social-media-icons-container .icon-wrapper {
      padding: 0 8px !important;
      &.active svg {
        height: 28px !important;
        width: 28px !important;
      }
    }
  }
}
