.color-picker {
  position: relative;
  // margin: 10px 0;
  transition: 110ms;
  overflow: hidden;
  width: 100%;
  .color-picker__input {
    position: relative;
    .hex-color-preview {
      position: relative;
      display: flex;
      flex-grow: 1;
      cursor: pointer;
      position: absolute;
      right: 10px;
      border-radius: 2px;
      top: 50%;
      // top: calc(50% + 6px);
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      border: 1px solid #dedede;
      background: repeating-conic-gradient(
          rgb(219, 219, 219) 0%,
          rgb(219, 219, 219) 25%,
          transparent 0%,
          transparent 50%
        )
        50% center / 15px 15px;
      .preview {
      }
    }
  }
  .color-picker__picker {
    overflow: hidden;
    padding: 0 10px;
    .react-colorful {
      width: 100%;
      height: 120px;
      .react-colorful__saturation {
        border-radius: 4px;
      }
      .react-colorful__pointer {
        width: 16px;
        height: 16px;
      }
      .react-colorful__last-control {
        margin-top: 10px;
        border-radius: 50px;
        height: 14px;
      }
    }
  }
}
