$progressBarColor__Active: #590d64;
$progressBarColor__Inactive: #dbcadd;
$circleSize: 30px;

.progress-bar-container {
  // background-color: gray;
  display: flex;
  align-items: center;
  // justify-content: center;
  padding: 20px 15px 60px;

  justify-content: space-between;
  .progress-bar-step {
    position: relative;
    display: flex;
    align-items: center;
    // flex-grow: 1;
    // justify-content: center;
    // justify-content: space-between;
    // flex-direction: column;
    // background-color: aliceblue;
    // flex-grow: 1;
    &.active {
      .progress-bar-step-graphic__circle {
        background-color: $progressBarColor__Active !important;
        // border-color: #fff !important;

        // border-color: $progressBarColor__Active !important;
        // background-color: $progressBarColor__Active;

        &::after {
          background-color: $progressBarColor__Active !important;
        }
      }
      .progress-bar__line {
        background-color: $progressBarColor__Active;
      }
    }
    .progress-bar-step__graphic {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // flex-grow: 1;
      // width: 80px;
      position: relative;
      // height: 30px;
      flex-direction: column;
      .progress-bar-step-graphic__circle {
        width: $circleSize;
        height: $circleSize;
        background-color: #fff;
        border-radius: 50px;
        z-index: 1111;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-wrapper {
          svg {
            display: block;
            color: #fff;
            height: 18px;
          }
        }
        &::before {
          content: "";
          background-color: rgb(255, 255, 255);
          width: 110%;
          height: 110%;
          z-index: -1;
          position: absolute;
          top: 50%;
          left: 50%;
          border-radius: 50px;
          transform: translate(-50%, -50%);
        }
        &::after {
          content: "";
          // border: 3px solid red;
          background-color: $progressBarColor__Inactive;
          width: 90%;
          height: 90%;
          z-index: -1;
          position: absolute;
          top: 50%;
          left: 50%;
          border-radius: 50px;
          transform: translate(-50%, -50%);
        }
        // border: 4px solid $progressBarColor__Inactive;
      }
    }
    .progress-bar__line {
      position: absolute;
      // right: 0;
      // top: ;
      height: 3px;
      width: 100%;
      display: flex;
      flex-grow: 1;
      flex-basis: 100%;
      background-color: $progressBarColor__Inactive;
    }
    .progress-bar-step__label {
      position: relative;
      span {
        position: absolute;
        // background-color: $progressBarColor;
        font-size: 12px;
        width: 80px;
        text-align: center;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &:not(.last-child) {
      flex-grow: 1;
    }
  }
}
