section#card-form-sectiom {
  position: relative;
  display: flex;
  // flex-grow: 1;
  height: 100%;
  // max-height: 700px;
  flex-basis: 400px;
  .card-form-section-inner-wrapper {
    flex-grow: 1;
    display: flex;
    position: relative;
    flex-direction: column;

    .form__header {
      h1 {
        font-size: 22px;
        line-height: 1.3em;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.248);
        font-family: var(--inter);
        padding-left: 15px;
      }
      padding-bottom: 10px;
    }
    .form-outer-wrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      padding: 20px;
      border-radius: 8px;
      min-height: 700px;
      max-height: 700px;
      background-color: rgb(255, 255, 255);
      .form {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-grow: 1;

        .form__body {
          overflow-y: auto;
        }
        .form__footer {
          margin-top: 30px;
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0;
          .next-button-wrapper {
            display: flex;
          }
          button {
            position: relative;
            background: linear-gradient(310deg, #ff4094 0%, #a629f2 100%);
            color: #fff;
            padding: 6px 18px;
            border-radius: 50px;
            z-index: 1;
            display: flex;
            font-size: 13px;
            align-items: center;
            overflow: hidden;
            .icon-wrapper {
              margin-left: 8px;
              svg {
                display: block;
                height: 12px;
                fill: #fff;
              }
            }
            &.preview-button-container {
              display: flex;
              align-items: center;
              padding: 6px 18px;
              margin-right: 10px;
              background-color: #fff;
              border: 1px solid #821897;
              color: #821897 !important;
              align-items: center;
              justify-content: center;
              z-index: 11111111222111111111;
              box-shadow: 0 01px 5px 1px rgba(0, 0, 0, 0.104);
              background: transparent !important;
              .preview-icon-wrapper {
                margin-right: 6px;
                svg {
                  display: block;
                  height: 18px;
                  stroke: #821897;
                }
              }
              span {
                color: #821897;
              }
            }
            &.gradient {
              &::before {
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(80deg, #ff4094 0%, #a629f2 100%);
                z-index: -1;
                transition: opacity 0.3s linear;
                opacity: 0;
              }

              &:hover::before {
                // background: linear-gradient(80deg, #ff4094 0%, #a629f2 100%);
                opacity: 1;
              }
            }
            &.ghost {
              background: #fff !important;
              color: #a629f2;
              padding: 6px 4px;
              &:hover {
                color: #6b0ea5;
              }
            }
          }
        }
      }
    }
  }
}
