.text-box-wrapper {
  display: flex;

  .icon-wrapper {
    margin-right: 6px;
  }
  .MuiTextField-root {
    border-color: var(--red) !important;
    input {
      border-color: var(--red) !important;
      // padding: 3px;
      border-radius: 20px;
      // height: auto;
    }
    label {
      color: rgba(0, 0, 0, 0.392);
      // color: rgba(0, 0, 0, 0.87);
      // font-size: 14px;
    }
  }
}
