.social-media-selector-row {
  position: relative;
  display: flex;
  width: 100%;
  flex-grow: 1;

  align-items: center;
  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin-right: 8px;
    margin-top: 5px;

    svg {
      display: block;
      height: 24px;
      width: 24px;
    }
  }
}
